@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&display=swap');
/*Raleway*/
* {
    font-family: 'Raleway', Verdana, ;
    padding: 0; margin: 0;
    box-sizing: border-box;
}
/*GOOGLE ICONS*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
 input {
    width: 100%;
    height: 40px;
    border:1px solid rgba(170, 170, 170, 0.575);
 
}
input::placeholder{
    color: rgba(7, 7, 7, 0.295)
}
input[placeholder]{
    text-indent: 7px; 
}

button {
    line-height: 40px;
    padding: 0px 20px;
    border: none;
}
a {
    text-decoration: none;
}

header:only-child {
    display: flex;
}
body {
    width: 100%;
}
h1 {
    font-weight: normal;
}
main {
    padding: 0 10px;
    background-color: rgba(219, 219, 219, 0.288);
}
img {
    max-width: 100%; height: auto;
}
/*INCIO DA PAGINA*/
div#divlogo {
    padding: 20px 0;
}
.logo {
    font-size: 2em;
    color: red;
    padding: 5px;
}
span#search {
    cursor: pointer;
    color: grey;
    float: right;
    padding: 5px;
    font-size: 2em;
}
/*LINKS INTERATIVOS*/
nav {
    background: black;
}
nav > ul > li > p {
    line-height: 50px;
    padding: 2px 5px;
}
nav > ul > li > p > a {
    color: white;
}
nav > ul > li {
    list-style-type: none;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 2px;
    width: 100%;
}
nav > ul > li > p > a > span.material-symbols-outlined {
    font-size: 20px;
    padding-right: 5px;
    vertical-align: sub;
}
nav > ul {
    display: flex;
    text-align: center; justify-content: center;
    
}
nav > ul > li:hover,nav > ul > li> p:hover {
    background-color: red;
}

/*TRAVEL THE WOLRD*/

section#travel-world {
    padding: 0 10px;
    background-color: white;
    color:rgb(77, 77, 77)
}
section#travel-world > h1 {
    padding: 25px 0;
    white-space: nowrap;
}

section#travel-world > form > button {
    background-color:  rgb(77, 77, 77);
    margin: 10px 0px 15px 0;
    color: white;

}
section#travel-world > form > label {
    line-height: 25px;}

/*GOOD OFFERS*/
#cinque {
    background: black url(../imagens/cinqueterre.jpg);
    width: 100%; height: 100%;
}

#new-york {
    background: black url(../imagens/newyork.jpg);
    }

#san-fransisco {
    background: black url(../imagens/sanfran.jpg);
    }


#pisa {
    background: black url(../imagens/pisa.jpg);
    }

#paris {
    background: black url(../imagens/paris.jpg);
    }

#new-york, #san-fransisco, #pisa, #paris{
    width: 250px;
    height: 250px; ;
    }
#lin-1 > div > p , #lin-2 > div > p, #article1 > div > p {
    color: white;   display: inline;
 text-align: end; vertical-align: bottom;
}

#article1 {
    display: block;
    height: 399px;
}
section.good-offers {
  object-fit: cover
}
/*EXPLORE NATURE*/
section#explore-nature > p{
    font-size: 14px;
}
section#explore-nature > h1,section#explore-nature > div > h1, section#explore-nature > p {
    color: rgb(77,77,77);
    padding: 15px 10px;
    white-space: nowrap;
}
section#explore-nature > div > h2 {
    font-size: 15px;
    padding: 10px 10px;
    color: rgb(170, 170, 170);
}
#austria, #norway {
    background-color: white;
    padding: 0px 10px;
}
#austria > div , #norway > div {
    padding: 30px;
}
div > a {
    color: rgb(77,77,77);
}
div > a:hover {
    border: 2px solid black;
    padding: 1px;
}

/*BEST OFFERS*/
#best-offers {
    background: rgb(97, 97, 97);
    color:white;
    height:260px;
    padding: 30px 10px; margin-top:30px;
     text-align: left;
}
#best-offers > p {
    padding: 20px 0px;
}
#best-offers > label {
    line-height: 30px;
}
#best-offers > button {
    margin: 15px 5px; padding: 2px 10px;
    font-size: 16px;
    border: none;
    color: white; background-color: rgb(252, 131, 131);
}

/*CONTACT - ASIDE */
aside > h1 {
    padding: 30px 0;
}
aside > p {
    padding: 0 0 15px 0px;
}
aside > div > span.material-symbols-outlined{
    padding: 0px 15px 0 0;
    font-size: 17px
}
aside > input {
    margin : 5px 0
}
div.padding {
    line-height: 25px;
}
aside > button {
    font-size: 18px;
    padding: 13px 28px; margin: 10px 0;
    color: white; background-color: black;
}

div#find-us > h1 {
    padding: 35px 20px; text-align: center;
    color: rgb(148, 148, 148)
}
div#find-us > ol {
 display: flex;
 justify-content: center;
 list-style-type: none;
}
div#find-us > ol > li {
    padding: 20px 3px;
    flex-wrap: nowrap;
    flex-direction: row;

}
div#find-us > ol > li > a > img {
    width: 30px;
}
/*FOOTER*/
footer {
    text-align: center;
    padding: 50px 0;
    color: rgb(77, 77, 77);
    font-size: 20px;
}
footer > a {
    color: rgb(77,77,77);
    text-decoration: solid;
}