@charset "UTF-8";

/*PARA IMPRESSORAS*/
* {
    font-family: 'Courier New', Courier, monospace;
}
nav {
    display: none;
}
header {
    height:300px;
}

article {
    width:80vw;
    margin:auto;
}
article::after {
    content: 'Impresso em bla bla bla bla';
}